@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    !important
}
body{
    background-color: #F8F8FB;
    /* background-color: rgb(254,255,254); */
    /* margin: 0; */

}
.name {
    --animate-duration: 1.5s;
  }

#myHeader{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* background-color: white; */
    /* position: -webkit-sticky; */
    
}

#logo-wrapper{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.header-option-list{
    display: flex;
    align-content: center;
    gap: 2.4em;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.header-option-wrapper > .header-option-list > li > a{
    text-decoration: none;
    color: black;
    /* text-decoration: wavy; */
    /* transition: all .5s ease-in; */
}
.header-option-wrapper > .header-option-list > li > a:hover{
    text-decoration:underline;
    color: black;
    
}

.name{
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 130px;
      margin: 0;
      line-height: 0;  
      
}

.name-text-area{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 12px;
}

.text-1{
    font-weight: 400;
    font-size: 22px;
}
.text-2{
    font-weight: 400;
    font-size: 24px;
}
.type{
    font-weight: 500;
}

.about-me, .skills, .designs{
    padding: 6em 4em;
}


.heading{   
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.about-me-wrapper{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    width: fit-content;
    line-height: 2.2em;
    
}

.icons{
    padding-left: 1em;
    display: flex;
    justify-content: center;
}
.icons > img{
    width: 5em;
    padding: 1.5em;
    margin: 2rem;
}
/* .icons > img:hover{
    box-shadow: 0 0px 22px 0px rgba(29, 28, 28, 0.151);
    border-radius: 12px;
    border: none;
    transition: 0.2s ease-in-out;
} */

.design-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
  .swiper {
    width: 75%;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #scrollToTopButton {
    position: fixed;
    bottom: 40px;
    right: 10px;
    font-size: 25px;
    z-index: 99;
    width: 50px;
    height: 50px;
    background-color: #8c52ff;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 8px 6px;
    cursor: pointer !important;
    border-radius: 50%;
  }
  
  #scrollToTopButton i {
    cursor: pointer !important;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .scrollToTopBtn {
    /* also add a translate effect */
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    /* and a transition */
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .showBtn {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }